on:
  workflow_call:
    inputs:
      runners:
        type: string
        default: '["ubuntu-latest"]'
      fmt:
        type: string
        default: '[]'
      build:
        type: string
        default: '[]'
      lint:
        type: string
        default: '[]'
      unit-test:
        type: string
        default: '[]'
      integration-test:
        type: string
        default: '[]'
jobs:
  plan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Create manifest
        id: plan
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        with:
          script: |
            const defaultRunners = JSON.parse(core.getInput('runners'));

            const targetIncludes = {
              fmt: JSON.parse(core.getInput('fmt')),
              build: JSON.parse(core.getInput('build')),
              lint: JSON.parse(core.getInput('lint')),
              'unit-test': JSON.parse(core.getInput('unit-test')),
              'integration-test': JSON.parse(core.getInput('integration-test')),
            };

            const defaultTargets = Object.entries(targetIncludes)
              .filter(([_, includes]) => includes.length === 0)
              .map(([target]) => target);

            const defaultIncludes = defaultTargets.length > 0 ? defaultRunners.map(runner => ({
                runner,
                targets: defaultTargets
              })) : [];

            const customIncludes = Object.entries(targetIncludes)
              .filter(([_, includes]) => includes.length > 0)
              .flatMap(([target, includes]) => includes.map(include => ({
                ...include,
                targets: [target]
              })));
            const includes = [...defaultIncludes, ...customIncludes];

            const plan = { matrix: { include: includes } };
            console.log(JSON.stringify(plan, undefined, 2));

            return plan;
        env:
          INPUT_RUNNERS: ${{ inputs.runners }}
          INPUT_FMT: ${{ inputs.fmt }}
          INPUT_BUILD: ${{ inputs.build }}
          INPUT_LINT: ${{ inputs.lint }}
          INPUT_UNIT-TEST: ${{ inputs.unit-test }}
          INPUT_INTEGRATION-TEST: ${{ inputs.integration-test }}
    outputs:
      plan: ${{ steps.plan.outputs.result }}
  fan-out:
    needs: [plan]
    strategy:
      matrix: ${{ fromJson(needs.plan.outputs.plan).matrix }}
    runs-on: ${{ matrix.runner }}
    name: ${{ join(matrix.targets) }} ${{ matrix.args }} on ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          # We need to fetch all branches and commits so that Nx affected has a base to compare against.
          fetch-depth: 0
      - uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: pnpm install
      - uses: nrwl/nx-set-shas@3e9ad7370203c1e93d109be57f3b72eb0eb511b1 # v4
      - run: pnpm nx affected --target=${{ join(matrix.targets) }} ${{ matrix.args }}
